.Location {
    width: 100%;
    height: 100%;
    background-image: url(../assests/backgrounds/Bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
    .ContantWrapper {
        background-image: url(../assests/backgrounds/BackgroundLocContant.png);
        background-repeat: no-repeat;
        background-position: center;
        .Locationlieves {
            margin: 0 auto;
            margin-top: 70px;
            width: 880px;
            height: 652px;
            background-image: url(../assests/backgrounds/Decoration.png);
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            .ContantContainer {
                margin-top: 100px;
                width: 600px;
                height: 550px;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 60px;
                    height: 60px;
                }
                h1 {
                    font-weight: 700;
                    font-size: 60px;
                    color: #d2ffcb;
                    margin-top: 24px;
                    margin-bottom: 14px;
                }
                p {
                    line-height: 100%;
                    text-align: center;
                    color: #ffffff;
                    font-weight: 700;
                    font-size: 24px;
                    margin-bottom: 40px;
                }
                button {
                    background: linear-gradient(90deg, rgba(127, 202, 33, 0.8) 0%, #105200 100%);
                    border: 3px solid rgba(84, 136, 20, 0.8);
                }
            }
        }
    }
}
