$white: #fff;

%wrapper {
  margin: 0 auto;
  width: 1440px;
  height: 956px;
  background-image: url("./assests/backgrounds/Background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  @extend %wrapper;
}

.servicesWrapper {
  @extend %wrapper;
  background-image: url("./assests/backgrounds/BackgroundServis.png");
}

.ShopWrapper {
  @extend %wrapper;
  background-image: url("./assests/backgrounds/BackgroundShop.png");
}

.LocationWrapper {
  @extend %wrapper;
  background-image: url("./assests/backgrounds/BackgroundLocation.png");
}

.BlogWrapper {
  @extend %wrapper;
  background-image: url(../components/assests/backgrounds/BlogBgc.png);
}
.FoliageWrapper {
  @extend %wrapper;
  background-image: url("./assests/backgrounds/BackgroundServis.png");
}
